<mtapp:setting
   id="mdc_dqsShortname"
   label="<__trans phrase="DISQUS Shortname">"
>
  <p>
    <input type="text" name="mdc_dqsShortname" id="mdc_dqsShortname" value="<mt:if name="mdc_dqsShortname"><mt:var name="mdc_dqsShortname"></mt:if>" />
  </p>
</mtapp:setting>
